body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}




/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */


/* ROW 3 */

.div-3{
  width: 80px;
  flex: 1;
}
.d1{
  background-color: red;
}

.d2{
  flex: 5;
}

.d3{
  background-color: yellow;
}


/* ROW 4 */
.div-4{
  width: 80px;
  flex: 1;
}


/* ROW 5 */
.div-5{
  width: 40px;
  height: 40px;
  background-color: red;
  align-self: center;
}

.wrap-5{
  justify-content: center;
}

/* ROW 6 */
.blue6{
  background-color: blue;
  width: 80px;
}

.div-6{
  display: flex;
  flex: 1;
  background-color: red;
  justify-content: center;
}


/* ROW 7 */
.wrap-7{
  flex: 1;
  flex-direction: row;
}

.div-7-1{
  justify-content: flex-start;
  width: 80px;
  background-color: red;
}
.div-7-2{
  flex: 1;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#green7{
  background-color: green;
  height: 20px;
}
/* ROW 8 */
.div-8{
  width: 80px;
  background-color: yellow;
  flex: 1;
}

.emptyExample8{
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

.emptyExample8 :nth-child(even){
  background-color: green;
  flex: 4;
}

/* ROW 9 */
.div-9{
  width: 80px;
  background-color: yellow;
  flex: 4;
}
.wrap-9   :nth-child(even){
  background-color: green;
  flex: 1;
}