*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #ffffff;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}

/* Header Section */

.header {
  margin-top: 32px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  gap: 32px;
}

.menu {
  display: flex;
  align-items: stretch;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu__item {
  text-align: right;
  margin-right: 32px;
}

.menu__link {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.header__items {
  display: flex;
  align-items: center;
}

.header__cart {
  margin-right: 20px;
  line-height: 30px;
  font-weight: 400;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* Hero Section */

.hero {
  background-image: url("./assets/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 955px;
  /* width: 1005; */
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 660px;
  max-height: 360px;
  gap: 16px;
}

.hero__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 84.02px;
  text-align: center;
}

.hero__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30.01px;
  text-align: center;
  padding-bottom: 15px;
}

.hero__items {
  display: flex;
  gap: 28px;
}

.btn {
  padding: 20px 24px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background-color: #ff4d01;
  border: 2px solid #ff4d01;
  color: white;
}

.btn-secondary {
  border: 2px solid #191919;
  background-color: transparent;
}

.hero__btn {
  border-color: white;
  color: white;
}
